/* App.css */
body {
  background-color: #f5f7fa; 
  font-family: 'Arial', sans-serif; 
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; 
}

.home img {
  max-width: 100%; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h2 {
  color: #333; 
  margin-bottom: 20px; 
  font-size: 34px;
}

.create_form {
  display: flex;
  gap: 10px; 
  margin-bottom: 20px; 
}

.create_form input {  
  width: 300px;
  padding: 10px;
  border: 2px solid #ddd; 
  border-radius: 5px; 
  outline: none;
  transition: border-color 0.3s; 
}

.create_form input:focus {
  border-color: #0056b3; 
}

.create_form button {  
  padding: 10px 20px;
  background-color: #0056b3; 
  color: white;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.create_form button:hover {
  background-color: #002043; 
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff; 
  color: #333; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  width: 345px;
  height: 50px;
  padding: 5px 10px; 
  margin-top: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s; 
}

.task:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.icon {
  font-size: 20px; 
  color: #0056b3; 
  cursor: pointer; 
}

.icon:hover {
  color: #002043; 
}

.line_through{
  text-decoration: line-through;
  color: gray;
}
